/* Curriculom Vitae
 *
 * /sass/settings/_colors.scss - Global colors variables
 *
 * coded by Mucht
 * started at 17/02/2016
 */

$mainColor: ;
$lightMainColor: ;
$darkMainColor: ;

$focusColor: ;
$darkFocusColor: ;

$mainBackgroundColor: ;
$headerBackgroundColor: $lightMainColor;

$headingTextColor: ;
$laborTextColor: ;
$menuTextColor: ;

$linkColor: ;
$hoverLinkColor: darken( $linkColor, 25% );
