/* CV
 *
 * /sass/objects/_global.scss - Non Esthetic style for globals elements
 *
 * coded by Mucht!
 */

 .wrap{
     width: $widthDesktop;
     margin: 32px auto 47px;
     position: relative;
     clear: both;
 }
