/* CV
 *
 * /sass/components/_intro.scss - Esthetic style for Intro
 *
 * coded by Mucht!
 */

.mainWrap{
    padding-top: 30px;
    .topContent{
        background-image: url("#{$imgPath}gradian.png");
        background-position: bottom;
        background-repeat: no-repeat;
        .title{
            .breadcrumb{
                color: $breadcrumbColor;
                font-size: 12px;
                &__icon{
                    color: $breadcrumbSeparatorsColor;
                }
            }
            .name{
                color: $linksColor;
                font-size: 26px;
                line-height: 32px;
            }
        }
        .bcg{
            background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%) repeat scroll 0 0;
            .persoInfo{
                float: right;
                &__img{

                }
                &__description{
                    font-size: 13px;
                    padding-right: 16px;
                    color: $linksColor;
                }
            }
        }
    }
    .legend{
        background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
        color: $legendColor;
        font-size: 12px;
        padding: 16px;
        .link{
            color: white;
        }
    }
}
