 /* Curriculom Vitae
  *
  * /sass/base/_root.scss - Base styles for root element
  *
  * coded by Mucht
  * started at 17/02/2016
  */

html {
	background: $mainBackgroundColor;
    font: normal 62.5%/1.25 $motivaStack;
    color: $laborColor;
}
a{
    color: $linksColor;
    text-decoration: none;
}
.hidden{
    display: none;
}

.clear::after{
    content: " ";
    display: table;
    clear: both;
}

.mainWrap{
    background-image: url("#{$imgPath}bckg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
